body {
    color: #011627;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

blockquote{
    font-size: 15px;
}

blockquote p{
    margin: 0;
}

a {
    color: #0AB5A5;
}

code:not([class]) {
    background: rgba(0, 0, 0, 0.08);
    padding: 1px 3px;
}

code{
    font-size: 1.2rem;
}

.label{
    padding: 1px 2px;
}

.label-default{
    background: #e9e9e9;
    color: #011627;
}

.features span {
    line-height: 31px;
    display: block;
}

h1.katana {
    font-size: 55px;
    font-weight: 100;
}

.hero p {
    font-weight: 200;
    font-size: 20px;
    color: #011627;
}

.hero .h2 {
    font-size: 20px;
}

.hero .h3 {
    font-size: 15px;
}

img {
    max-width: 100%;
}

.m-t-40 {
    margin-top: 40px;
}

.text-white {
    color: #fff;
}

.boom {
    background: #0AB5A5;
    padding: 30px 0;
}

.boom.footer{
    color: #def7fc;
}

.boom p {
    margin-top: 20px;
    display: block;
}

.boom a {
    color: #F9FFB6;
}

.boom h3 {
    font-weight: 200;
    margin: 0 0 10px;
}

.boom code {
    background: rgba(3, 58, 53, 0.43);
    padding: 3px 7px;
    font-size: 1.5rem;
}

.docs{
    line-height: 25px;
}

.docs h1{
    text-align: center;
    margin-bottom: 40px;
}

.docs h1:not(:first-of-type){
    margin: 80px 0 40px;
}


.docs h4{
    font-weight: 800;
    margin: 40px 0 30px;
}

pre {
    margin: 25px 0;
    background: rgba(238, 238, 238, 0.35);
    padding: 25px;
    border: solid 2px rgba(0, 0, 0, 0.05);
}

pre:first-line {
    line-height: 0px;
}

p{
    margin: 20px 0;
}

.toc ul{
    list-style-type: none;
    padding: 0;
}